<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-2">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>