<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand">Coleções</a>
</nav>

<div class="card">
  <div class="card-body">
    <ul class="text-center list-inline">
        <div class="input-group">
          <div class="custom-file">
            <input (change)="selectFile($event.target.files)" type="file" class="custom-file-input" id="inputGroupFile04" accept=”.csv”>
            <label class="custom-file-label" for="inputGroupFile04">Escolha o arquivo .csv</label>
          </div>
          <div class="input-group-append">
            <button (click)="uploadFile()" class="btn btn-outline-success" type="button">Upload</button>
          </div>
        </div>
      
    </ul>
    <table class="table table-sm table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Região</th>
          <th scope="col">Estado</th>
          <th scope="col">Município</th>
          <th scope="col">Revendedora</th>
          <th scope="col">CNPJ</th>
          <th scope="col">Produto</th>
          <th scope="col">Data de Coleta</th>
          <th scope="col">Preço de venda</th>
          <th scope="col">Preço de Compra</th>
          <th scope="col">Unidade de Medida</th>
          <th scope="col">Bandeira</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let collect of collects">
          <td>{{ collect.id }}</td>
          <td>{{ collect.region.name }}</td>
          <td>{{ collect.state.uf }}</td>
          <td>{{ collect.county.name }}</td>
          <td>{{ collect.reseller.resellerName }}</td>
          <td>{{ collect.reseller.resellerCnpj }}</td>
          <td>{{ collect.product.name }}</td>
          <td>{{ collect.collectionDate | date:'dd/MM/yyyy HH:mm:ss' }}</td>
          <td>{{ collect.salePrice }}</td>
          <td>{{ collect.purchasePrice }}</td>
          <td>{{ collect.measurementUnit}}</td>
          <td>{{ collect.banner.name}}</td>
          <td class="text-center actions">
            <button class="btn btn-light text-primary" type="button" (click)=getCollect(collect.id)>
              Ver
            </button>
            <button class="btn btn-light" type="button">
              Editar
            </button>
            <button class="btn btn-light btn-delete text-danger" type="button">
              Remover
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <a class="page-link" (click)="getPreviowsPage()">Anterior</a>
    </li>
    <li>
      <a class="page-link" (click)="getNextPage()" >Próximo</a>
    </li>
  </ul>
</nav>